.part-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 12rem auto;
  gap: 8rem;

  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
  }

  .texte {
    text-align: center;
    font-size: 1.2rem;
    color: $color1;
    width: 50%;
    line-height: 1.7rem;
    position: relative;

    @media (max-width: 500px) {
      font-size: 0.9rem;
      text-align: center;
      margin: 1rem auto;
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background: rgba(235, 164, 208, 0.164);
      width: 300px;
      height: 300px;
      top: -150px;
      left: -250px;
      animation: scaleAnimation 5s infinite alternate;
    }

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: #d9afd9fb;
      background-image: linear-gradient(
        0deg,
        #d9afd9 46%,
        #97d9e1 94%,
        #ffffff 100%
      );
      opacity: 30%;
      width: 200px;
      height: 200px;
      top: 250px;
      left: 290px;
      animation: scaleAnimation 5s infinite alternate;
    }

    @keyframes scaleAnimation {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.2);
      }
    }
  }

  .flower {
    width: 450px;
    padding: 20px;

    box-shadow: 14px 15px 16px 1px rgba(128, 128, 128, 0.712);
    border-radius: 5px;
    background-color: #d9afd9;
    background-image: linear-gradient(
      0deg,
      #d9afd9 26%,
      #97d9e1 94%,
      #ffffff 100%
    );

    @media (max-width: 500px) {
      scale: 0.7;
    }
    img {
      border-radius: 5px;
    }
  }
}

.part-tres {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 12rem auto;
  gap: 8rem;

  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
  }

  .house {
    max-width: 450px;
    margin: 0 auto;

    border-radius: 5px;
    box-shadow: 14px 15px 16px 1px rgba(128, 128, 128, 0.712);
    @media (max-width: 500px) {
      scale: 0.7;
    }

    img {
      width: 450px;
      padding: 1.4rem;
      border-radius: 5px;

      background-color: #d9afd9;
      background-image: linear-gradient(
        0deg,
        #d9afd9 26%,
        #97d9e1 94%,
        #ffffff 100%
      );
    }
  }

  p {
    text-align: center;
    font-size: 1.2rem;
    color: $color1;
    width: 50%;
    line-height: 1.7rem;
    @media (max-width: 500px) {
      font-size: 0.9rem;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
